.result {
	z-index: 10;
	top: 4rem;
	width: max-content;
	padding-inline: 1.5rem;
	margin-inline: auto;
	border: none;
	border-radius: 4px;
	background-color: black;
	line-height: 2rem;
	color: white;
	letter-spacing: 0.5px;
	user-select: none;
}
